<a href="https://colab.research.google.com/github/hjlim4u/AIchallenge/blob/main/%EC%96%BC%EC%A3%BD%EC%95%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

%matplotlib inline

import platform

path = "c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~') 
coffee_df=pd.read_csv("행정동별_커피분야_소비인구(2020.03_2020.05).csv")

Unknown system... sorry~~~~

In [ ]:
coffee_df.info

<bound method DataFrame.info of           gov_dn_cd  brtc_nm signgu_nm  ... sex_se  year_se cnsmr_popltn_co
0        1111051500    서울특별시       종로구  ...      F       20       91.445718
1        1111051500    서울특별시       종로구  ...      F       25       83.825241
2        1111051500    서울특별시       종로구  ...      F       30       53.343335
3        1111051500    서울특별시       종로구  ...      F       35       60.963812
4        1111051500    서울특별시       종로구  ...      F       45       30.481906
...             ...      ...       ...  ...    ...      ...             ...
2410310  5013062000  제주특별자치도      서귀포시  ...      X       xx       22.861429
2410311  5013062000  제주특별자치도      서귀포시  ...      F       25       22.861429
2410312  5013062000  제주특별자치도      서귀포시  ...      M       35       38.102382
2410313  5013062000  제주특별자치도      서귀포시  ...      M       40       22.861429
2410314  5013062000  제주특별자치도      서귀포시  ...      X       xx       22.861429

[2410315 rows x 8 columns]>

In [ ]:
#3
coffee_df.head()

    gov_dn_cd brtc_nm signgu_nm  ... sex_se  year_se cnsmr_popltn_co
0  1111051500   서울특별시       종로구  ...      F       20       91.445718
1  1111051500   서울특별시       종로구  ...      F       25       83.825241
2  1111051500   서울특별시       종로구  ...      F       30       53.343335
3  1111051500   서울특별시       종로구  ...      F       35       60.963812
4  1111051500   서울특별시       종로구  ...      F       45       30.481906

[5 rows x 8 columns]

In [ ]:
coffee_df.groupby("adstrd_nm")["cnsmr_popltn_co"].sum().sort_values(ascending=False)

adstrd_nm
소공동            2.604429e+07
역삼1동           3.192134e+06
중앙동            2.595969e+06
여의동            2.164688e+06
종로1.2.3.4가동    2.024608e+06
                   ...
서후면            2.286143e+01
사벌면            2.286143e+01
산내면            2.286143e+01
산인면            2.286143e+01
부곡면            2.286143e+01
Name: cnsmr_popltn_co, Length: 2423, dtype: float64

In [ ]:
coffee_df[coffee_df['sex_se']=="F"].groupby('adstrd_nm')['cnsmr_popltn_co'].sum().sort_values(ascending=False)

adstrd_nm
소공동            1.247528e+07
역삼1동           1.456822e+06
중앙동            1.238495e+06
서교동            1.035234e+06
종로1.2.3.4가동    8.890276e+05
                   ...
금동             2.286143e+01
병영면            2.286143e+01
산내면            2.286143e+01
다도면            2.286143e+01
별량면            2.286143e+01
Name: cnsmr_popltn_co, Length: 2378, dtype: float64

In [ ]:
coffee_df[coffee_df['sex_se']=="M"].groupby('adstrd_nm')['cnsmr_popltn_co'].sum().sort_values(ascending=False)

adstrd_nm
소공동            1.149790e+07
역삼1동           1.400819e+06
중앙동            1.240743e+06
여의동            1.091306e+06
종로1.2.3.4가동    9.417842e+05
                   ...
진상면            2.286143e+01
월산면            2.286143e+01
봉황면            2.286143e+01
대산면            2.286143e+01
해도동            2.286143e+01
Name: cnsmr_popltn_co, Length: 2399, dtype: float64

In [ ]:
coffee_df.groupby(['adstrd_nm','year_se'])['cnsmr_popltn_co'].sum().sort_values(ascending=False)

adstrd_nm  year_se
소공동        25         5.833307e+06
           30         3.997664e+06
           20         3.720058e+06
           35         3.047680e+06
           40         2.062360e+06
                          ...
북삼동        60         2.286143e+01
음암면        20         2.286143e+01
북부동        70         2.286143e+01
홍북읍        70         2.286143e+01
하북면        65         2.286143e+01
Name: cnsmr_popltn_co, Length: 26349, dtype: float64

In [ ]:
coffee_df['de']=pd.to_datetime(coffee_df['de'].astype(str), format='%Y-%m-%d')

In [ ]:
print(coffee_df['de'].dt.month)

0          1
1          1
2          1
3          1
4          1
          ..
2410310    1
2410311    1
2410312    1
2410313    1
2410314    1
Name: de, Length: 2410315, dtype: int64