<a href="https://colab.research.google.com/github/hjlim4u/AIchallenge/blob/main/%EC%96%BC%EC%A3%BD%EC%95%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

%matplotlib inline

import platform

path = "c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~') 
coffee_df=pd.read_csv("행정동별_커피분야_소비인구(2020.03_2020.05).csv")

Unknown system... sorry~~~~

In [12]:
coffee_df.shape

(2410315, 8)

In [4]:
coffee_df.info

<bound method DataFrame.info of           gov_dn_cd  brtc_nm signgu_nm adstrd_nm        de sex_se year_se  \
0        1111051500    서울특별시       종로구     청운효자동  20200301      F      20
1        1111051500    서울특별시       종로구     청운효자동  20200301      F      25
2        1111051500    서울특별시       종로구     청운효자동  20200301      F      30
3        1111051500    서울특별시       종로구     청운효자동  20200301      F      35
4        1111051500    서울특별시       종로구     청운효자동  20200301      F      45
...             ...      ...       ...       ...       ...    ...     ...
2410310  5013062000  제주특별자치도      서귀포시       예래동  20200530      X      xx
2410311  5013062000  제주특별자치도      서귀포시       예래동  20200531      F      25
2410312  5013062000  제주특별자치도      서귀포시       예래동  20200531      M      35
2410313  5013062000  제주특별자치도      서귀포시       예래동  20200531      M      40
2410314  5013062000  제주특별자치도      서귀포시       예래동  20200531      X      xx

         cnsmr_popltn_co
0              91.445718
1              83.825241
2              53.343335
3              60.963812
4              30.481906
...                  ...
2410310        22.861429
2410311        22.861429
2410312        38.102382
2410313        22.861429
2410314        22.861429

[2410315 rows x 8 columns]>

In [13]:
coffee_df.columns

Index(['gov_dn_cd', 'brtc_nm', 'signgu_nm', 'adstrd_nm', 'de', 'sex_se',
       'year_se', 'cnsmr_popltn_co'],
      dtype='object')

In [5]:
#3
coffee_df.head()

,gov_dn_cd,brtc_nm,signgu_nm,adstrd_nm,de,sex_se,year_se,cnsmr_popltn_co
0,1111051500,서울특별시,종로구,청운효자동,20200301,F,20,91.445718
1,1111051500,서울특별시,종로구,청운효자동,20200301,F,25,83.825241
2,1111051500,서울특별시,종로구,청운효자동,20200301,F,30,53.343335
3,1111051500,서울특별시,종로구,청운효자동,20200301,F,35,60.963812
4,1111051500,서울특별시,종로구,청운효자동,20200301,F,45,30.481906

In [14]:
coffee_df.describe

<bound method NDFrame.describe of           gov_dn_cd  brtc_nm signgu_nm adstrd_nm         de sex_se year_se  \
0        1111051500    서울특별시       종로구     청운효자동 2020-03-01      F      20
1        1111051500    서울특별시       종로구     청운효자동 2020-03-01      F      25
2        1111051500    서울특별시       종로구     청운효자동 2020-03-01      F      30
3        1111051500    서울특별시       종로구     청운효자동 2020-03-01      F      35
4        1111051500    서울특별시       종로구     청운효자동 2020-03-01      F      45
...             ...      ...       ...       ...        ...    ...     ...
2410310  5013062000  제주특별자치도      서귀포시       예래동 2020-05-30      X      xx
2410311  5013062000  제주특별자치도      서귀포시       예래동 2020-05-31      F      25
2410312  5013062000  제주특별자치도      서귀포시       예래동 2020-05-31      M      35
2410313  5013062000  제주특별자치도      서귀포시       예래동 2020-05-31      M      40
2410314  5013062000  제주특별자치도      서귀포시       예래동 2020-05-31      X      xx

         cnsmr_popltn_co
0              91.445718
1              83.825241
2              53.343335
3              60.963812
4              30.481906
...                  ...
2410310        22.861429
2410311        22.861429
2410312        38.102382
2410313        22.861429
2410314        22.861429

[2410315 rows x 8 columns]>

In [15]:
# 데이터 전처리 : 법인 및 외국인(X) 제외, 서울특별시만 추출
idx_ = coffee_df[coffee_df['sex_se']=='X'].index
coffee_df.drop(idx_) #외국인 데이터 생략
df_seoul = coffee_df[coffee_df['brtc_nm']=='서울특별시'] #서울시 데이터만 고려

In [20]:
import datetime
pd.set_option('mode.chained_assignment',  None)
df_seoul['de']=pd.to_datetime(df_seoul['de'].astype(str), format='%Y-%m-%d')

In [23]:
df_seoul.groupby("adstrd_nm")["cnsmr_popltn_co"].sum().sort_values(ascending=False)

adstrd_nm
소공동            2.604429e+07
역삼1동           3.192134e+06
종로1.2.3.4가동    2.024608e+06
서교동            1.999583e+06
여의동            1.983389e+06
                   ...
성현동            2.202318e+03
번2동            1.920360e+03
수색동            1.295481e+03
창신3동           1.181174e+03
면목5동           2.057529e+02
Name: cnsmr_popltn_co, Length: 418, dtype: float64

In [24]:
df_seoul[df_seoul['sex_se']=="F"].groupby('adstrd_nm')['cnsmr_popltn_co'].sum().sort_values(ascending=False)

adstrd_nm
소공동            1.247528e+07
역삼1동           1.456822e+06
서교동            1.035234e+06
종로1.2.3.4가동    8.890276e+05
여의동            7.193349e+05
                   ...
번2동            9.373186e+02
성현동            6.934634e+02
수색동            5.105719e+02
창신3동           1.600300e+02
면목5동           9.144572e+01
Name: cnsmr_popltn_co, Length: 418, dtype: float64

In [25]:
df_seoul[df_seoul['sex_se']=="M"].groupby('adstrd_nm')['cnsmr_popltn_co'].sum().sort_values(ascending=False)

adstrd_nm
소공동            1.149790e+07
역삼1동           1.400819e+06
여의동            9.981910e+05
종로1.2.3.4가동    9.417842e+05
서교동            8.134630e+05
                   ...
성현동            1.310722e+03
창신3동           1.021144e+03
번2동            9.830415e+02
수색동            5.715357e+02
면목5동           1.143071e+02
Name: cnsmr_popltn_co, Length: 418, dtype: float64

In [26]:
df_seoul.groupby(['adstrd_nm','year_se'])['cnsmr_popltn_co'].sum().sort_values(ascending=False)

adstrd_nm  year_se
소공동        25         5.833307e+06
           30         3.997664e+06
           20         3.720058e+06
           35         3.047680e+06
           40         2.062360e+06
                          ...
대림1동       65         2.286143e+01
당산2동       00         2.286143e+01
청림동        60         2.286143e+01
송파2동       70         2.286143e+01
사당4동       65         2.286143e+01
Name: cnsmr_popltn_co, Length: 5359, dtype: float64

In [27]:
print(df_seoul['de'].dt.month)

0         3
1         3
2         3
3         3
4         3
         ..
639016    5
639017    5
639018    5
639019    5
639020    5
Name: de, Length: 639021, dtype: int64